*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background: #222;
}
.card{
    width: min-content;
    max-width: 400px;
    background: linear-gradient(130deg,#48cae4,#00b4d8);
    text-align: center;
    text-align: center;
    color: #fff;
    margin: 100px auto 0;
border-radius: 20px;

padding: 40px 35px;
}
.search{
    width: 100%;
    align-items: center;
    display: flex;
    justify-self: space-between;
}
.search input{
    border: 0;
    outline: none;
    background-color: #caf0f8;
    color:#023e8a;
    height: 60px;
    padding: 10px 25px;
    flex: 1;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
    text-align:center;
    
}
.search button{
    border: 0;
    outline: 0;
    background-color: #caf0f8;
    border-radius: 50%;
width: 60px;
height: 60px;
cursor: img url(images/search.png);
}
.search button img{
    width: 20px;
}
.icon{
width: 170px;
margin-top: 30px;
}
.weather h1{
    font-size: 50px;
    font-weight: 500px;
}
.weather h2 {
    font-size: 30px;
    font-weight: 400px;
    margin-top: -10px;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    
}
.col img{
 width: 40px;   
margin-right: 10px;
}
.humidity,.wind{
    font-size: 25px;
margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    color: red;
    display: none;
}
